
<div id="contact_form" class="contact_form"></div>

<script type="text/template" id="contact-form-template">
  <form action="//formspree.io/alex@designbymodus.com" method="POST">
    <div class="fields"></div>
    <input type="hidden" name="_next" value="{{ site.linkURL }}/contact-thank-you/" />
    <input type="submit" value="Send">
  </form>
</script>

<script type="text/template" id="contact-form-text-field">
  <label for="<%- fieldName %>"><%- labelName %></label>
  <input type="text" name="<%- emailLabelName %>" id="<%- fieldName %>" value="<%- value %>">
</script>

<script type="text/template" id="contact-form-message-field">
  <label for="<%- fieldName %>"><%- labelName %></label>
  <textarea id="<%- fieldName %>" rows="7" name="<%- fieldName %>"></textarea>
</script>
