
<div id="js-parallax-window" class="parallax-window">
  <span class="outer">
    <img src="{{site.linkURL}}/images/spacer-home.gif" />

    {% assign page_blurb = site.pages | where:"permalink","/" %}
    {% for this_page in page_blurb %}
      <h1>{{ this_page.home_banner_tag_line }}</h1>
    {% endfor %}

  </span>
  <div id="js-parallax-background" class="parallax-background" style="top: 0px">
    <img src="{{site.linkURL}}/images/spacer-home.gif" />
  </div>
</div>


<div class="homepage-cols">
  <span class="outer">

    {% assign page_blurb = site.pages | where:"title","Safety &amp; Drug Program" %}
    {% for this_page in page_blurb %}
      {% include home-blurb.html %}
    {% endfor %}

    {% assign page_blurb = site.pages | where:"title","Training &amp; Education" %}
    {% for this_page in page_blurb %}
      {% include home-blurb.html %}
    {% endfor %}

    {% assign page_blurb = site.pages | where:"title","Code Of Conduct" %}
    {% for this_page in page_blurb %}
      {% include home-blurb.html %}
    {% endfor %}

  </span>
</div>
