<!-- {{page.permalink}} -->
{% assign currentURL = page.url %}
<nav id="site-nav" class="site-nav">

  <span><!-- this span is to get the height of the hidden menu via jquery -->
    <span class="mn">
      <span>
        <ul class="mainNav">

          {% assign sorted_nav = site.pages | sort: 'nav_order' %}
          {% for page in sorted_nav %}
            {%
              if page.hidden_in_main_nav != true
              and page.name != 'index.html'
              and page.name != 'feed.xml'
            %}
              {% capture pageURL %}
                {{ site.linkURL }}{{ page.url }}
              {% endcapture %}

              {% if page.second_nav != true %}
                <li>
                  <a href="{{ pageURL }}"{%if page.permalink == currentURL%} class="current-page"{%endif%}>
                    {{ page.title }}
                  </a>
                </li>
              {% endif %}

            {% endif %}
          {% endfor %}

        </ul>
      </span>
    </span>



    <span class="sn">
      <span>
        <ul class="subNav">

          {% assign sorted_nav = site.pages | sort: 'nav_order' %}
          {% for page in sorted_nav %}
            {% capture pageURL %}
              {{ site.linkURL }}{{ page.url }}
            {% endcapture %}

            {%if page.second_nav == true%}
              <li>
                <a href="{{ pageURL }}"{%if page.permalink == currentURL%} class="current-page"{%endif%}>
                  {%if page.nav_title%}
                    {{ page.nav_title }}
                  {%else%}
                    {{ page.title }}
                  {%endif%}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </span>
    </span>

  </span>

</nav>
