
<div class="slide-stripe">
  <span class="slide">
    <img src="{{ site.linkURL }}/images/slide-stripe.gif" class="spacer" />
    <img src="{{ site.linkURL }}/images/slide-stripe.gif" class="photo slide01" />
  </span>
  <span class="slide">
    <img src="{{ site.linkURL }}/images/slide-stripe.gif" class="spacer" />
    <img src="{{ site.linkURL }}/images/slide-stripe.gif" class="photo slide02" />
  </span>
  <span class="slide">
    <img src="{{ site.linkURL }}/images/slide-stripe.gif" class="spacer" />
    <img src="{{ site.linkURL }}/images/slide-stripe.gif" class="photo slide03" />
  </span>
  <span class="slide">
    <img src="{{ site.linkURL }}/images/slide-stripe.gif" class="spacer" />
    <img src="{{ site.linkURL }}/images/slide-stripe.gif" class="photo slide04" />
  </span>
  <span class="slide">
    <img src="{{ site.linkURL }}/images/slide-stripe.gif" class="spacer" />
    <img src="{{ site.linkURL }}/images/slide-stripe.gif" class="photo slide05" />
  </span>
</div>
