.left-col {
  @include span-columns(8);
}
.widget-area {
  @include span-columns(4);
}

form.wpcf7-form {
  @include span-columns(8);
}

.small-only {
  @include visuallyhidden;
}

.site-footer .site-info {
  .logo {
    margin: pem(10) 0;
  }

  .half {
    @include span-columns(6 of 12);
    text-align: left;

    &:last-child {
        text-align: right;
    }
  }
}
