html,
body {
  // this color fills out the footer
  background: #000;
}

body > div.page,
body > div.page > .main-bg,
body > div.page > .main-bg2 {
  // body of the page.
  // (everything between the header and the footer)
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
body > div.page > .main-bg,
body > div.page > .main-bg2 {
  background-color: #FFF;
}

div.content,
.site-footer {
  padding-left: $main-gutter;
  padding-right: $main-gutter;
  display: block;
  clear: both;
  @include outer-container;
}
div.content {
  padding-top: $gutter;
  padding-bottom: $gutter;
}
.site-footer {
  padding-top: $main-gutter;
  padding-bottom: pem(70);
  color: rgba(255,255,255, 0.7);

}

.site-footer .site-info {
  text-align: center;

  i.logo {
    display: block;
    margin: 0 auto pem(10);
    width: pem(75);
    height: pem(75);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: fill;

    background-image: url( ../images/wfca-logo.svg);
    .no-svg & {
      background-image: url( ../images/wfca-logo.png );
    }
  }
}

.left-col,
.full-width,
.widget-area {
  @include span-columns(12);
}

div.entry-content {
  width: 100% !important; // override for calendar plugin.
}
