.outer {
  display: block;
  @include outer-container;
}

div.third {
  @include span-columns(12 of 12);
}

div.homepage-cols {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}

div.homepage-cols div.third {
  padding: $main_gutter;
  text-align: center;
}

div.homepage-cols div.third a {
  display: block;
  width: 100%;
  color: currentColor;
  text-decoration: none;

  h1 {
    margin-bottom: 0.25em;
  }

  &:hover span {
    text-decoration: underline;
  }
}

div.homepage-cols div.third img.icon {
  width: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: containr;
}

div.homepage-cols div.third img.safety {
  background-image: url("../images/icon-safety.svg");
  .no-svg & {
    background-image: url("../images/icon-safety.png");
  }
}

div.homepage-cols div.third img.certificate {
  background-image: url("../images/icon-certificate.svg");
  .no-svg & {
    background-image: url("../images/icon-certificate.png");
  }
}

div.homepage-cols div.third img.people {
  background-image: url("../images/icon-people.svg");
  .no-svg & {
    background-image: url("../images/icon-people.png");
  }
}

img.right {
  float: right;
  max-width: 40%;
  padding: 0 0 1em 1.5em;
}

img.left {
  float: left;
  max-width: 40%;
  padding: 0 0 1em 1.5em;
}

div.contact_form {
  text-align: left;
  @include span-columns(12 of 12);
}

div.contact_form {

  span.main,
  footer,
  span.footnote {
    display: block;
    float: left;
    clear: both;
    width: 100%;
  }

  span.main {
    position: relative;
    padding-bottom: 0.5em;
  }

  label {
    width: 100%;
    float: left;
    clear: both;
  }
  span.err {
    float: right;
  }

  strong {
    // required callout
    color: $color-alert-red;
  }
  span.footnote {
    padding-top: 0.25em;
    text-align: center;
  }
  footer {
    text-align: center;
  }
}

div.contact_form div.progress {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.65);
  color: #FFF;

}
