span.main-bg {
  padding-bottom: 3.5em;
}
div.third {
  @include span-columns(4 of 12);
  @include omega(3n);
}

div.content span.single-col {
  @include span-columns(8 of 12);
  @include shift(2);
}

div.content h1,
div.content h2 {
  text-align: center;
}
div.content h1.page-title {
  font-size: 2em;
  padding-bottom: 0;
  text-align: left;
}
