.parallax-window {
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;

  background-color: #C96;
  border-bottom: pem(10) $color-wfca-green solid;

  span.outer {
    display: block;
    position: relative;
  }

  h1 {
    position: absolute;
    color: #FFF;
    padding: 30% $main_gutter;
    z-index: 9;
    text-shadow: 0px 0px 10px #000;
    text-align: right;
    width: 100%;
  }

  & img {
    display: block;
    float: left;
    clear: both;
    width: 100%;
  }
}

.parallax-background {
  background-image: url("../images/pressure-wash-01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
}

// Based on http://codepen.io/skeurentjes/
