div.slide-stripe {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  background-color: #FCFCFC;
}
div.slide-stripe > span {
  display: block;
  float: left;
  clear: none;
  overflow: hidden;
  position:relative;
  width: 50%; // this is overriding my inline style
}

div.slide-stripe > span img.spacer {
  display: block;
  float: left;
  clear: none;
  width: 100%;
  background-color: #000;
}
div.slide-stripe > span img.photo {
  position: absolute;
  min-width: 100%;

  left: 0%;
  top: 0%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transition: all 0.2s ease;
}

div.slide-stripe > span:hover img.photo {
  opacity: 0.8;
  left: -5%;
  top: -5%;
  min-width: 110%;
}


.slide-0 {
  background-image: url('../images/wfca-logo-slide.png');
}
.slide-1 { background-image: url('https://placekitten.com/200/300'); }
.slide-2 { background-image: url('https://placekitten.com/150/300'); }
.slide-3 { background-image: url('https://placekitten.com/200/150'); }
.slide-4 { background-image: url('https://placekitten.com/300/200'); }
.slide-5 { background-image: url('https://placekitten.com/200/300'); }
.slide-6 { background-image: url('https://placekitten.com/200/300'); }
.slide-7 { background-image: url('https://placekitten.com/150/300'); }
.slide-8 { background-image: url('https://placekitten.com/200/150'); }
.slide-9 { background-image: url('https://placekitten.com/300/200'); }
.slide-10 { background-image: url('https://placekitten.com/200/300'); }
.slide-11 { background-image: url('https://placekitten.com/150/300'); }
.slide-12 { background-image: url('https://placekitten.com/175/80'); }
.slide-13 { background-image: url('https://placekitten.com/80/175'); }
.slide-14 { background-image: url('https://placekitten.com/150/150'); }
.slide-15 { background-image: url('https://placekitten.com/300/200'); }

div.stripe-home {
  .slide-1 { background-image: url('../images/slides/beam2.jpg'); }
  .slide-2 { background-image: url('../images/slides/bucket2.jpg'); }
  .slide-3 { background-image: url('../images/slides/IndustrialCoatings2.jpg'); }
}
div.stripe-Membership {
  .slide-1 { background-image: url('../images/slides/stock-photo-building-teamwork-partnership-gesture-and-people-concept-close-up-of-builders-hands-in-gloves-296917583.jpg'); }
  .slide-2 { background-image: url('../images/slides/stock-photo-building-equipment-and-building-plan-helmet-hammer-worker-s-tool-bag-ladder-plan-screws-261618740.jpg'); }
  .slide-3 { background-image: url('../images/slides/stock-photo-business-building-partnership-gesture-and-people-concept-close-up-of-smiling-builders-and-313944005.jpg'); }
  .slide-4 { background-image: url('../images/slides/stock-photo-industrial-engineer-writing-on-notepad-in-factory-141662929.jpg'); }
}
div.stripe-Training {
  .slide-1 { background-image: url('../images/slides/stock-photo-drywall-installers-men-holding-a-gypsum-board-figured-cut-287429624.jpg'); }
  .slide-2 { background-image: url('../images/slides/stock-photo-male-industrial-builders-worker-at-window-installation-in-building-construction-site-351606356.jpg'); }
  .slide-3 { background-image: url('../images/slides/stock-photo-building-construction-development-teamwork-and-people-concept-close-up-of-builders-in-hardhats-313944050.jpg'); }
  .slide-4 { background-image: url('../images/slides/stock-photo-business-building-partnership-gesture-and-people-concept-close-up-of-smiling-builders-and-313944005.jpg'); }
}

div.stripe-Safety {
  .slide-1 { background-image: url('../images/slides/stock-photo-workers-are-high-up-in-cherry-picker-on-building-site-388764502.jpg'); }
  .slide-2 { background-image: url('../images/slides/stock-photo-ambulance-service-376480093.jpg'); }
  .slide-3 { background-image: url('../images/slides/stock-photo-safety-first-sign-on-caution-strip-151558676.jpg'); }
  .slide-4 { background-image: url('../images/slides/stock-photo-standard-construction-safety-383464744.jpg'); }
}
