div.slide-stripe {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  background-color: #FCFCFC;
}
div.slide-stripe > span {
  display: block;
  float: left;
  clear: none;
  width: 50%;
  overflow: hidden;
  position:relative;
}
div.slide-stripe > span img.spacer {
  display: block;
  float: left;
  clear: none;
  width: 100%;
  background-color: #000;
}
div.slide-stripe > span img.photo {
  position: absolute;
  min-width: 100%;

  left: 0%;
  top: 0%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transition: all 0.2s ease;
}

div.slide-stripe > span:hover img.photo {
  opacity: 0.8;
  left: -5%;
  top: -5%;
  min-width: 110%;
}

div.slide-stripe img.slide00 {
  background-image: url('../images/wfca-logo-slide.png');
}
div.slide-stripe img.slide01 {
  background-image: url('../images/slides/stock-photo-construction-office-401754475.jpg');
}

div.slide-stripe img.slide02 {
  background-image: url('../images/slides/stock-photo-decorative-plaster-applied-on-the-surface-by-a-steel-trowel-white-cement-based-decorative-top-coat-216117640');
}

div.slide-stripe img.slide03 {
  background-image: url('../images/slides/stock-photo-painter-painting-metal-designs-with-airbrush-170947331.jpg');
}

div.slide-stripe img.slide04 {
  background-image: url('../images/slides/stock-photo-view-on-indoor-construction-site-of-unfinished-modern-large-showroom-462447712.jpg');
}
div.slide-stripe img.slide05 {
  background-image: url('../images/slides/stock-photo-tradesman-painting-a-ceiling-90911657.jpg');
}
